*{
    font-family: 'Courier New', Courier, monospace;
}   

.headSection h1{
    color: white;
    background-color: black;
    border-radius: 5px;
    border-width: 3px;
    padding: 5px;
    margin: 20px;
}

.headSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headSection img{
    border-radius: 8px;
}

.ingredients{
    display: flex;
    justify-content: center;
}

.mid{
    display: flex;
    width: 800px;
    border: 1px solid black;
    border-radius: 8px;
    gap: 5px;
    padding: 10px;
    position: relative;
    margin-left: 300px;
}